{
    "presets": ["es2015", "react"],
    "plugins": ["syntax-async-functions","transform-regenerator", "transform-object-assign", "transform-object-rest-spread"],
    "sourceMaps": true,
    "retainLines": true
}
