
{{#contentFor 'pageScripts'}}
    <script>
        // document.getElementById('example')
        console.log('index.hbs');
    </script>
{{/contentFor}}

<div id="example"></div>
<div id="content"></div>
<div id="avatar"></div>
