<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>

    {{{block "pageStyles"}}}
    <!-- <script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    <script src="https://npmcdn.com/jquery@3.1.0/dist/jquery.min.js"></script> -->
    <!--<script src="https://npmcdn.com/remarkable@1.6.2/dist/remarkable.min.js"></script>-->

</head>

<body>
    {{{body}}}

    {{> scripts}}
    {{> other}}

    {{{block 'pageScripts'}}}
    
<!-- the rest may be deleted later -->
    <div id="example"></div>
    <div id="content"></div>
    <div id="avatar"></div>
    <!-- scripts -->
    <script type="text/javascript" src="admin/public/bundle.js"></script>
<!-- end -->
</body>
</html>
