input:focus{
    outline: none !important;
    border:1px solid red;
    /*box-shadow: 0 0 10px #719ECE;*/
}

.box-group {
    width:230px;
    border: 1px solid blue;
    padding:5px;
    margin: 10px;
}

.form-control {
    padding:5px;
}

.form-under {
    margin-top:10px;
}

.form-button {
    display:block;
    background-color:red;
    text-align: center;
}
